<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.markcianfrani.ioniciconsearch</string>
	<key>connections</key>
	<dict>
		<key>4693CA59-9AF9-4E65-94B5-F976EA44EB5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5FF8D8C-A884-4B2E-AAAD-C282A5090784</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BA0ACE5-0DDC-42D5-83D4-1314813E1D68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4693CA59-9AF9-4E65-94B5-F976EA44EB5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D2441C2-E6D1-4F8A-A362-DD6324CA7004</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81663D03-A8AE-419A-9303-E1127EC04425</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81663D03-A8AE-419A-9303-E1127EC04425</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F03DC45-0584-4785-9AC0-108F8C76933F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mark Anthony Cianfrani</string>
	<key>description</key>
	<string>Search Ionic Icons</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Ionic Icon Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F5FF8D8C-A884-4B2E-AAAD-C282A5090784</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ion</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node -r esm index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5BA0ACE5-0DDC-42D5-83D4-1314813E1D68</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>4693CA59-9AF9-4E65-94B5-F976EA44EB5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ionimport</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node -r esm import.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6D2441C2-E6D1-4F8A-A362-DD6324CA7004</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node -r esm import.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8F03DC45-0584-4785-9AC0-108F8C76933F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>81663D03-A8AE-419A-9303-E1127EC04425</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4693CA59-9AF9-4E65-94B5-F976EA44EB5A</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>5BA0ACE5-0DDC-42D5-83D4-1314813E1D68</key>
		<dict>
			<key>xpos</key>
			<integer>145</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>6D2441C2-E6D1-4F8A-A362-DD6324CA7004</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>81663D03-A8AE-419A-9303-E1127EC04425</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>8F03DC45-0584-4785-9AC0-108F8C76933F</key>
		<dict>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>F5FF8D8C-A884-4B2E-AAAD-C282A5090784</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://cianfrani.me</string>
</dict>
</plist>
